{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <!-- Bootstrap core CSS -->
    <link href={% static "card/css/bootstrap.min.css" %} rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href= {% static "card/css/roadtrippers.css" %} rel="stylesheet">

    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Roadtrippers</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<main ng-app="index-map-module" >
    <div ng-controller="YMapController">
        <div ng-init="coords=[55.21, 34.30];center=[55.21, 34.30];zoom=10">
            <yandex-map center="center" zoom="zoom" style="display: block; position: fixed; top:4em; bottom:0; right:0; left:0">
                <ymap-marker coordinates="coords"></ymap-marker>
            </yandex-map>
        </div>
    </div>
</main>

<div class="btn-toolbar mapfilter">
    <div class="btn-group">

        <button type="button" class="btn btn-default" aria-label="Left Align" onclick="toogle_filter('cinema')">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-default" aria-label="Left Align" onclick="toogle_filter('food')">
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align" onclick="toogle_filter('club')">
            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align" onclick="toogle_filter('park')">
            <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
        </button>

    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src={% static "card/js/jquery.js"%}></script>
<script src={% static "card/js/bootstrap.min.js"%}></script>

{#<script src={% static "card/js/roadtrippers.js"%}></script>#}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
<script src={% static "card/js/angular_app/plugins/angular-ymaps.js"%}></script>
<script src={% static "card/js/angular_app/index/index-map-module.js"%}></script>
<script src={% static "card/js/angular_app/index/index-map-ctrl.js"%}></script>

</body>
</html>