{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="balloon-info">
    <div class="balloon-img">
        <img src={{ image }} alt="img">
    </div>
    <div class="balloon-rate">
        {{ rating }}
    </div>
    <h4 onclick="document.getElementById('parent_popup').style.display='inline',document.getElementById('popup').style.display='inline';">
        {{ name }}
        [[  ]]
    </h4>
    <div class="like-balloon">
        <span class="icon icon-heart"></span>
    </div>
    <div class="trip-balloon">
        <span class="icon icon-cab"></span>
    </div>
</div>
</body>
</html>