{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="width:300px; height: 80px;"  onclick="document.getElementById('parent_popup').style.display='inline',document.getElementById('popup').style.display='inline';">
    <div>
        <img style="position: absolute; top: 0px; left: 0; bottom:0 ;" src="{% static "app/images/0003.jpg" %}" alt="picture">
    </div>
    <div style="position: absolute; left:120px; top: 40px;">
        <h3 style="z-index: 10; cursor: pointer; margin: 0;">{{ name }}</h3>
    </div>
</div>

{% comment %}
<p>name: {{ name }}</p>
<p>web_site: {{ website }}</p>
<p>public_phone: {{ phone }}</p>
<p>description: {{ description }}</p>
<p>working_hours: {{ working_hours }}</p>
<p>rating: {{ rating }}</p>
<strong> Остальные поля смотреть в models.py</strong>
{% endcomment %}

</body>
</html>