<div class="modal-content popover top">
    <div class="modal-body">
        <button type="button" class="close arrow" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src={{ image }} alt="img" height="70px" width="70px">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading"> {{ name }}</h5>

                <div class="like-balloon">
                    <span class="icon icon-heart"></span>
                </div>
                <div class="trip-balloon">
                    <span class="icon icon-cab"></span>
                </div>
                <br/>

                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                         aria-valuenow="{{ rating }}" aria-valuemin="0"
                         aria-valuemax="100" style="width: {{ rating }}%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>