{% load staticfiles %}
<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href={% static "images/favicon.ico" %} type="image/x-icon">

    <link href={% static "app/css/roadtrippers.css" %} rel="stylesheet">
    <link href={% static "app/bower_components/bxslider-4/dist/jquery.bxslider.css" %} rel="stylesheet">

    <script src={% static "app/bower_components/jquery/dist/jquery.js" %}></script>
    <script src={% static "app/bower_components/angular/angular.js" %}></script>
    <script src={% static "app/bower_components/bxslider-4/dist/jquery.bxslider.js" %}></script>

    <script src={% static "app/js/ya-map-2.1.js" %}></script>
    <script src={% static "app/js/app.js" %}></script>
    <script src={% static "app/js/services.js" %}></script>
    <script src={% static "app/js/controllers.js" %}></script>

</head>

<body ng-app="roadtrippersApp" ng-controller="CardCtrl">

    <header>
        <div class="logotype">
            <img src="{% static "app/images/logotype.gif" %}" alt="Путеводитель"/>
        </div>
    </header>

    <section class="filters">
        <ul>
            <input type="checkbox" ng-click="filters.switchFilter(1)" ng-checked="filters.isChecked(1)" name="filter-1" id="filter_place_of_interests">
            <li class="filter-place_of_interests">
                <div class="">
                    <label for="filter_place_of_interests">
                        <div class="">
                            <span class="icon icon-cat-attractions"></span>
                        </div>
                    </label>
                </div>
            </li>
            <input type="checkbox" ng-click="filters.switchFilter(2)" ng-checked="filters.isChecked(2)" name="filter-2" id="filter_food">
            <li class="filter-food">
                <div class="">
                    <label for="filter_food">
                        <div class="">
                            <span class="icon icon-cat-food-drink"></span>
                        </div>
                    </label>
                </div>
            </li>
            <input type="checkbox" ng-click="filters.switchFilter(3)" ng-checked="filters.isChecked(3)" name="filter-3" id="filter_park">
            <li class="filter-park">
                <div class="">
                    <label for="filter_park">
                        <div class="">
                            <span class="icon icon-cat-nature"></span>
                        </div>
                    </label>
                </div>
            </li>
        </ul>
    </section>

    <section class="radius">
        <input class="scroll_area" type="range" id="radius">
    </section>

    <main>
        <ya-map ya-zoom="11" ya-center="[55.76,37.64]" ya-after-init="init($target)" ya-controls=""></ya-map>
    </main>

    <section id="right-bar">
        <nav class="list_of_nav_buttons_right">
            <div class="up-chk-right" id="show-on-right">
                <span class="icon icon-up-micro"></span>
            </div>
            <div class="up-unchk-right"id="show-off-right">
                <span class="icon icon-down-micro"></span>
            </div>
        </nav>
        <main class="main-info-right">
            <img src="{% static "app/images/0002.jpg" %}" alt="Маршрут">
            <div class="make-trip">
                <div class="form-A">
                    <span class="icon-A">A:</span>
                    <input class="form-a-inp" type="text" placeholder="Введите пункт А"/>
                </div>
                <div class="form-B">
                    <span class="icon-B">B:</span>
                    <input class="form-b-inp" type="text" placeholder="Введите пункт В"/>
                </div>
                <input id="find-trip-btn" type="submit" value="Построить маршрут">
            </div>
        </main>
    </section>

    <div id="popup">
        <div class="popup-main">
            <div class="close-btn" style="cursor: pointer;" onclick="document.getElementById('parent_popup').style.display='none',document.getElementById('popup').style.display='none';">
                <div class="x-btn"><b>X</b></div>
            </div>
            <div id="heady">
                <img src="{% static "app/images/0003.jpg" %}" alt="Picture">
                <h2>Ресторан "Панучи"</h2>
                <div id="list-of-p">
                    <p>Адрес - г.Москва, ул. Ленина, д.9, к.3. </p>
                    <p>Время работы - круглосуточно.</p>
                    <p>Плата - до 20:00 вход беслпатный.</p>
                </div>
            </div>
            <div id="scrl">
                <div id="footy">
                    <div class="add-like-place">
                        <span class="icon icon-heart"> НРАВИТСЯ</span>
                    </div>
                    <div class="add-to-trip">
                        <span class="icon icon-cab"> В МАРШРУТ</span>
                    </div>

                    <div class="options">
                        <h3>Описание места:</h3>
                        <p>Ресторан «Панучи» - это классический европейский ресторан.
                        Дизайн интерьера в точности отражает его название.
                        Все элементы выдержаны в едином, тонком, современном минималистичном, но при этом дорогом стиле.
                        Цветовая гамма заведения подобрана таким образом, чтобы гости могли расслабиться и спокойно насладиться превосходными блюдами.
                        Просторное светлое помещение, хорошо подобранные предметы декора, изящность и красота линий.
                        Яблочная тема, проскальзывая во всем, превосходно поднимает тонус и заряжает энергией: подсвечники, выполненные в форме яблока, шторы, цвета насыщенной яблочной листвы и даже посуда ярко-зеленого цвета.
                        В ресторане царит удивительная атмосфера легкости, элегантности и хорошего настроения.</p>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        Долистали
                    </div>
                    <div class="contacts">
                        <h3>Контакты:</h3>
                        <p>Резервация столика - 8-987-654-32-10</p>
                        <p>Книга отзывов и предложений - 8-898-939-52-31.</p>
                        <br>
                        <p>Сайретдинов У.Т.- владелец ресторана.</p>
                        <p>Контактный телефон - 8-888-999-55-33.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="parent_popup"></div>

    <section id="bottom-bar">
        <nav class="list_of_nav_buttons">
            <div class="up-chk" id="show-on">
                <span class="icon icon-up-micro"></span>
            </div>
            <div class="up-unchk"id="show-off">
                <span class="icon icon-down-micro"></span>
            </div>
        </nav>
        <main class="main-info" >
            <div>
                <div class="slider1" slideit >
                </div>
            </div>
        </main>
        <h1>[[places().length]]</h1>

    </section>






<script type="text/javascript">
    $(window).load(function () {
        $("#show-off").click(function () {
            $(".up-unchk").css("display", "none");
            $(".up-chk").css("display", "inline");
            $(".main-info").css("bottom", "-155px");
            $(".list_of_nav_buttons").css("bottom", "0");
        });
    });
</script>
<script type="text/javascript">
    $(window).load(function () {
        $("#show-on").click(function () {
            $(".up-unchk").css("display", "inline");
            $(".up-chk").css("display", "none");
            $(".main-info").css("bottom", "0");
            $(".list_of_nav_buttons").css("bottom", "155px");
        });
    });
</script>
<script type="text/javascript">
    $(window).load(function () {
        $("#show-off-right").click(function () {
            $(".up-unchk-right").css("display", "none");
            $(".up-chk-right").css("display", "inline");
            $(".main-info-right").css("right", "-350px");
            $(".list_of_nav_buttons_right").css("right", "0");
        });
    });
</script>
<script type="text/javascript">
    $(window).load(function () {
        $("#show-on-right").click(function () {
            $(".up-unchk-right").css("display", "inline");
            $(".up-chk-right").css("display", "none");
            $(".main-info-right").css("right", "0");
            $(".list_of_nav_buttons_right").css("right", "350px");
        });
    });
</script>
<script>
    $(window).resize(function(){
        $('#popup').css({
            left: ($(document).width() - $('#popup').outerWidth())/2,
            top: ($(document).height() - $('#popup').outerHeight())/2
        });

        });
    $(window).resize();
</script>

</body>
</html>
