{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href={% static "css/style.css" %} rel="stylesheet">
</head>

<body ng-app="app">

<map center="center" zoom="zoom">
</map>

<script src={% static "js/jquery.js"%}></script>
<script src={% static "js/jquery.cookie.js"%}></script>
<script src={% static "js/angular.js"%}></script>

<script src={% static "app/app.js" %}></script>
<script src={% static "app/svc/placesSvc.js" %}></script>
<script src={% static "app/filter/filterCtrl.js" %}></script>
<script src={% static "app/map/map.js" %}></script>
<script src={% static "app/map/mapConfig.js" %}></script>
<script src={% static "app/map/mapCtrl.js" %}></script>
<script src={% static "app/map/mapLoader.js" %}></script>
<script src={% static "app/map/marker.js" %}></script>
<script src={% static "app/svc/placesSvc.js" %}></script>
<script src={% static "app/utills/debounce.js" %}></script>
<script src={% static "app/utills/$script.js" %}></script>

</body>
</html>