html,body {
    height: 100%;
    width: 100%;
}
.mapfilter {
    position: absolute;
    margin-top: 27px;
    margin-left: 90px;
    top: 6%;
    left: 20%;
    z-index: 4000;
}

map {
    display: block;
    position: fixed;
    top: 4em;
    bottom: 0;
    right: 0;
    left: 0;
}