html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body, html
{
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 14px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary
{
    display: block;
    z-index: 0;
}
ya-map
{
    top:0;
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 0;
}
header div.logotype{
    margin-top: 0.5em;
    margin-left: 0.5em;
    width: 0;
    z-index: 2;
}
header
{
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 0;
    z-index: 2;
}
/*---------------------------footer_rightbar-------------------------------*/
#bottom-bar
{
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    z-index: 1;
}
#right-bar
{
    position: fixed;
    bottom: 0;
    top:0;
    right:0;
    z-index: 1;
}

#bottom-bar .list_of_nav_buttons
{
    position: fixed;
    z-index: 2;
    list-style-type: none;
    width: 5em;
    height: 1.8em;
    font-size: 1em;
    box-shadow: 0 0 0.05em ;
    background: #f5f5f5;
    margin:0;
    padding: 0;
    left: 3em;
    bottom: 0;
    border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
    -moz-border-top-right-radius: 0.4em;
    border-top-right-radius: 0.4em;
}
#right-bar .list_of_nav_buttons_right
{
    position: fixed;
    z-index: 3;
    list-style-type: none;
    width: 1.5em;
    height: 2em;
    font-size: 1em;
    box-shadow: 0 0 0.05em ;
    background: #f5f5f5;
    margin:0;
    padding: 0;
    top: 12em;
    right: 0;
    border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    -moz-border-bottom-left-radius: 0.4em;
    -webkit-border-bottom-left-radius: 0.4em;
}
.list_of_nav_buttons .icon-up-micro,
.list_of_nav_buttons .icon-down-micro
{
    position: relative;
    left:0;
    top:-17px;
    display: table-cell;
    cursor: pointer;
    padding-top: 0.2em;
    padding-left: 3.6em;
    padding-right: 0.5em;
}
.nav-button-text-bottom
{
    position: relative;
    top:4px;
    margin: 0 0 0 8px;
}
.list_of_nav_buttons_right .icon-up-micro,
.list_of_nav_buttons_right .icon-down-micro
{
    display: table-cell;
    vertical-align: middle;
    padding-top:0.5em;
    padding-bottom: 0.3em;
    padding-right: 0.55em;
    padding-left: 0.55em;
    cursor: pointer;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.list_of_nav_buttons .icon-up-micro:hover
{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    -moz-border-top-right-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
}
.list_of_nav_buttons_right .icon-up-micro:hover
{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    -moz-border-top-right-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
}
.list_of_nav_buttons .icon-down-micro
{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}
.list_of_nav_buttons_right .icon-down-micro
{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    -moz-border-top-right-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
}
#bottom-bar .main-info
{
    position: fixed;
    background-color: #f5f5f5;
    width:100%;
    box-shadow: 0 0 0.05em ;
    bottom:-160px;
    height: 160px;
}
.main-info-right .trip-logo
{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 305px;
    height: 230px;
    border-radius: 5px 5px 0 0;
}
.main-info-right .make-trip
{
    position: absolute;
    top:235px;
    left:5px;
    bottom:5px;
    width:305px;
    height: auto;
    background: #fff;
    border-radius: 0 0 5px 5px;
    overflow-y: auto;
}
#right-bar .main-info-right
{
    position: fixed;
    z-index: 3;
    background-color: #f5f5f5;
    width: 315px;
    box-shadow: 0 0 0.05em ;
    right:-315px;
    top: 10px;
    bottom: 5px;
}
.up-chk
{
    display: inline;
}
.up-unchk
{
    display: none;
}
.up-chk-right
{
    display: inline;
}
.up-unchk-right
{
    display: none;
}

li.show-btn-right
{
    height:2em;
}
.slide img,
.slider1
{
    height: 145px;
}
.slider1
{
    margin:0;
}
.slide div.rang
{
    position: absolute;
    width:1.8em;
    height: 1.4em;
    background: #fff;
    top:0;
    left:0.5em;
}
.trip-form
{
    position: relative;
    border: solid 1px #000000;
    margin-bottom: 10px;
    top:5px;
    left:5px;
    width:280px;
    border-radius: 2px;
    height: 72px;
}
.form-picture
{
    position: relative;
    top:0;
    left:0;
    height: 70px;
    width: 70px;
    border-radius: 2px 0 0 2px;
}
.form-adress
{
    position: relative;
    left: 80px;
    top: -55px;
    height: 30px;
    width: 190px;
}

/*---------------------------end-footer_rightbar-------------------------------*/

.radius
{
    position: fixed;
    z-index: 2;
    top: 7.8em;
    left: 5.6em;
    width: 150px;
    /*height: auto;*/
    /*font-size: 1.0em;*/
    /*border-radius: 0.4em;*/
    /*box-shadow: 0 0 0.05em ;*/
    /*background: #f5f5f5;*/
    /*list-style-type: none;*/
    /*margin:0;*/
    /*padding: 0;*/
}


@font-face {
  font-family: 'awesome';
  src: url('../fonts/awesome.eot?15291562');
  src: url('../fonts/awesome.eot?15291562#iefix') format('embedded-opentype'),
       url('../fonts/awesome.woff?15291562') format('woff'),
       url('../fonts/awesome.ttf?15291562') format('truetype'),
       url('../fonts/awesome.svg?15291562#awesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "awesome";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.icon-vk:before { content: '\e800'; }
.icon-email:before { content: '\e801'; }
.icon-phone:before { content: '\e803'; }
.icon-down-micro:before { content: '\e804'; }
.icon-up-micro:before { content: '\e805'; }
.icon-clock:before { content: '\e806'; }
.icon-address-book:before { content: '\e807'; }
.icon-cab:before { content: '\e808'; }
.icon-heart:before { content: '\e809'; }
.icon-globe:before { content: '\e80a'; }
.icon-hash:before { content: '\e802'; }

/*-----------------------slick slide----------------------*/

#bottom-bar .slick-slide
{
    margin: 6px 6px 0 0;
}
#bottom-bar .slick-slide img
{
    position: relative;
    border-radius: 5px;
    top:-56px;
}
#bottom-bar .slick-slide .rating
{
    position: relative;
    top:0;
    z-index: 20;
    width:2em;
    height:2em;
    margin: 0 !important;
    background-color: #5bb765;
    border-radius: 0 0 3px 3px;
    left:5px;
}
#bottom-bar .slick-slide .value-rating
{
    position: relative;
    top:5px;
    margin-left: 4px;
    height: 100%;
    color: #fff;
}
#bottom-bar .slick-place
{
    position: relative;
    top:-28px;
    z-index: 20;
    width:2em;
    height:2em;
    background-color: #fff;
    border-radius: 1em;
    left: 40px;
}
#bottom-bar .slick-filter
{
    position: relative;
    top:3px;
    left:3px;
    width:1.6em;
    height:1.6em;
    border-radius: 0.8em;
}
.slick-filter-1
{
    background-color: #0099cc;
}
.slick-filter-2
{
    background-color: #00cccc;
}
.slick-filter-3
{
    background-color: #009966;
}
.slick-filter-icon
{
    position: relative;
    left:-2px;
    color: #fff;
}
.slick-slide span.place-name
{
    position: absolute;
    bottom:60px;
    padding: 0 0 0 8px;
    width: 150px;
    white-space: normal;
    text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px;
    font-size: 0.95em;
    color:#fff;
    cursor: pointer;
}
/*-----------------------end slick slide----------------------*/

/*----------------------popup menu--------------------------*/

.modal-header .modal-title
{
    margin-left: 100px;
}
#detailPlaceInfo .rating
{
    position: absolute;
    top:3px;
    z-index: 20;
    width:4em;
    height:4em;
    margin: 0;
    background-color: #5bb765;
    border-radius: 0 0 3px 3px;
    left:30px;
}
#detailPlaceInfo .value-rating
{
    position: relative;
    top:10px;
    font-size: 2em;
    margin-left: 8px;
    height: 100%;
    color: #fff;
}
#detailPlaceInfo .icon-vk
{
    position: absolute;
    margin-left: 650px;
    top:19px;
    font-size: 2em;
    color:#00a8f3;
    cursor: pointer;
}
#detailPlaceInfo .icon-email
{
    position: absolute;
    margin-left:700px;
    top:19px;
    font-size: 2em;
    color:#00a8f3;
    cursor: pointer;
}
#detailPlaceInfo .icon-globe
{
    position: absolute;
    margin-left:750px;
    top:19px;
    font-size: 2em;
    color:#00a8f3;
    cursor: pointer;
}
#detailPlaceInfo .icon-phone,
#detailPlaceInfo .icon-address-book,
#detailPlaceInfo .icon-clock
{
    font-size: 1.2em;
}
#detailPlaceInfo .slide
{

}

.btn-routeControll
{
    margin-top:0;
    padding: 3px;
    width: 21px;
    height: 21px;
    box-shadow: 0 0 0.4px rgba(0,0,0,0.8);
}
.btn-routeControll>img
{
    width: 100%;
    height: 100%;
    vertical-align: top;
}

/*----------------------  end popup menu--------------------------*/

.modal-title
{
    width: 60% !important;
}
#detailPlaceInfo .modal-body .icon-heart
{
    position: relative;
    top: -40px;
    font-size: 2em;
    left:300px;
    color:#ff3366;
    cursor: pointer;
}
#detailPlaceInfo .modal-body .icon-heart:hover
{
    color:#ff0099;
}
#detailPlaceInfo .modal-body .icon-cab
{
    position: relative;
    top: -40px;
    font-size: 2em;
    left:350px;
    cursor: pointer;
    color:#00cc99;
}
#detailPlaceInfo .modal-body .icon-cab:hover
{
    color:#00cccc;
}
#bottom-bar .slick-next,
#bottom-bar .slick-prev
{
    margin-top: 0 !important;
    top:35% !important;
}
#detailPlaceInfo .description-text
{
    margin-top: -30px;
}
#detailPlaceInfo .tags
{
    position: relative;
    margin: 0 10px 0 0 ;
}
#detailPlaceInfo .like-score
{
    position: absolute;
    width: 25px;
    height: 15px;
    top: 3px;
    font-size: 0.5em;
    text-align: center;
    left: 2px;
    cursor: pointer;
    color: #fff;

}
