html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body, html
{
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 14px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary
{
    display: block;
    z-index: 0;
}
ya-map
{
    top:0;
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 0;
}
header div.logotype{
    margin-top: 0.5em;
    margin-left: 0.5em;
    width: 0;
    z-index: 2;
}
header
{
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 0;
    z-index: 2;
}
/*---------------------------footer_rightbar-------------------------------*/
#bottom-bar
{
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    z-index: 1;
}
#right-bar
{
    position: fixed;
    bottom: 0;
    top:0;
    right:0;
    z-index: 2;
}

#bottom-bar .list_of_nav_buttons
{
    position: fixed;
    z-index: 2;
    list-style-type: none;
    width: 2em;
    height: auto;
    font-size: 1em;
    box-shadow: 0 0 0.05em ;
    background: #f5f5f5;
    margin:0;
    padding: 0;
    left: 3em;
    bottom: 0;
    border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
    -moz-border-top-right-radius: 0.4em;
    border-top-right-radius: 0.4em;
}
#right-bar .list_of_nav_buttons_right
{
    position: fixed;
    z-index: 3;
    list-style-type: none;
    width: 1.5em;
    height: 2em;
    font-size: 1em;
    box-shadow: 0 0 0.05em ;
    background: #f5f5f5;
    margin:0;
    padding: 0;
    top: 7em;
    right: 0;
    border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    -moz-border-bottom-left-radius: 0.4em;
    -webkit-border-bottom-left-radius: 0.4em;
}
.list_of_nav_buttons .icon-up-micro,
.list_of_nav_buttons .icon-down-micro
{
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.list_of_nav_buttons_right .icon-up-micro,
.list_of_nav_buttons_right .icon-down-micro
{
    display: table-cell;
    vertical-align: middle;
    padding-top:0.5em;
    padding-bottom: 0.3em;
    padding-right: 0.55em;
    padding-left: 0.55em;
    cursor: pointer;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.list_of_nav_buttons .icon-up-micro:hover
{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    -moz-border-top-right-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
}
.list_of_nav_buttons_right .icon-up-micro:hover
{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    -moz-border-top-right-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
}
.list_of_nav_buttons .icon-down-micro
{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}
.list_of_nav_buttons_right .icon-down-micro
{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    -moz-border-top-right-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
}
#bottom-bar .main-info
{
    position: fixed;
    background-color: #f5f5f5;
    width:100%;
    box-shadow: 0 0 0.05em ;
    bottom:-155px;
    height: 155px;
}
.main-info-right img
{
    position: absolute;
    top:5px;
    left:5px;
    width:340px;
    height: 230px;
    border-radius: 5px 5px 0 0;
}
.main-info-right .make-trip
{
    position: absolute;
    top:235px;
    left:5px;
    bottom:5px;
    width:340px;
    height: auto;
    background: #fff;
    border-radius: 0 0 5px 5px;
}
.make-trip .form-A
{
    position: absolute;
    top: 0;
    left:45px;
    width:250px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid gray;
}
.make-trip .form-B
{
    position: absolute;
    top: 25px;
    left:45px;
    width:250px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid gray;
}
.form-a-inp,
.form-b-inp
{
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    width: 230px;
}
.icon-A,
.icon-B
{
    position: absolute;
    top:2px;
    left:4px;
}
.input
{
    position: absolute;
    left:10px;
    top:0;
    width:320px;
    height:150px;
}
#find-trip-btn
{
    position: absolute;
    color:#00cc99;
    top:55px;
    left: 105px;
}
#right-bar .main-info-right
{
    position: fixed;
    z-index: 3;
    background-color: #f5f5f5;
    width: 350px;
    box-shadow: 0 0 0.05em ;
    right:-350px;
    height: 100%;
}
.up-chk
{
    display: inline;
}
.up-unchk
{
    display: none;
}
.up-chk-right
{
    display: inline;
}
.up-unchk-right
{
    display: none;
}

li.show-btn-right
{
    height:2em;
}
.slide img,
.slider1
{
    height: 145px;
}
.slider1
{
    margin:0;
}
.slide div.rang
{
    position: absolute;
    width:1.8em;
    height: 1.4em;
    background: #fff;
    top:0;
    left:0.5em;
}

/*---------------------------end-footer_rightbar-------------------------------*/

/*---------------------------filtersBlock-------------------------------*/
.filters>ul
{
    position: fixed;
    z-index: 2;
    top: 2.6em;
    left: 0.25em;
    width: auto;
    height: auto;
    font-size: 1.5em;
    box-shadow: 0 0 0.05em ;
    background: #f5f5f5;
    list-style-type: none;
    margin:0 0 0 0;
    padding: 0 0 0 0;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    cursor: pointer;
}
.filters>ul>.filter-place_of_interests:hover {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    -webkit-border-bottom-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    -moz-border-bottom-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-top-left-radius: 0.4em;
}
.filters>ul>.filter-food:hover,
.filters>ul>.filter-camera:hover,
.filters>ul>.filter-exhibition:hover{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}
.filters>ul>.filter-park:hover {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    -webkit-border-bottom-right-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
    -moz-border-bottom-right-radius: 0.4em;
    -moz-border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-top-right-radius: 0.4em;
}
.filters li
{
    display: table-cell;
    vertical-align: middle;
    border-right: 0.05em solid grey;
}
.filters li:last-child
{
    border-right: none;
}
.filters .filter-place_of_interests .icon-cat-attractions
{
    color: #0099cc;
    text-shadow: 0 0 0.2em rgba(0,0,0,0);
    cursor: pointer;
}
.filters .filter-food .icon-cat-food-drink
{
    color: #00cccc;
    text-shadow: 0 0 0.2em rgba(0,0,0,0);
    cursor: pointer;
}
.filters .filter-park .icon-cat-nature
{
    color: #009966;
    text-shadow: 0 0 0.2em rgba(0,0,0,0);
    cursor: pointer;
}
.filters input[type="checkbox"],
.list_of_nav_buttons input[type="checkbox"],
.list_of_nav_buttons_right input[type="checkbox"]
{
    display: none;
}
.filters input[type="checkbox"]:checked + .filter-place_of_interests
{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    -webkit-border-bottom-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
    -moz-border-bottom-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-top-left-radius: 0.4em;
}
.filters input[type="checkbox"]:checked + .filter-park
{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    -webkit-border-bottom-right-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
    -moz-border-bottom-right-radius: 0.4em;
    -moz-border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-top-right-radius: 0.4em;
}
.filters input[type="checkbox"]:checked + li
{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}
/*---------------------------end-filtersBlock-------------------------------*/

/*---------------------------balloonbox-------------------------------*/
#parent_popup{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: black;
    -moz-opacity:0.6;
    opacity: 0.6;
    display:none;
    z-index: 100;
}
#popup {
    z-index: 111;
    width:800px;
    height:80%;
    background: #dfdfdf;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}
.popup-main
{
    background: #fff;
    border-radius: 10px;
    height: 100%;
}
#scrl
{
    height: 68%;
    width: 100%;
    overflow-y: scroll;
}
#heady img
{
    position: absolute;
    top: 0;
    left: 20px;
    width:140px;
    height: 140px;
}
#heady
{
    width: 100%;
    height: 12em;
    position: relative;
    top: 0;
    left:0;
    box-shadow: 0 4px 2px -2px gray;
}
#footy
{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    left:0;
}
#heady h2
{
    position:absolute;
    width: 15em;
    left:10em;
}
#heady #list-of-p
{
    position: absolute;
    top: 3em;
    left:14em;
    font-size: 1em;
}
#footy .add-like-place
{
    position: absolute;
    top:1em;
    left:20px;
    border: 1px solid gray;
    box-shadow: 0.2em 0.2em 2px rgba(122,122,122,0.5);
    width:7.5em;
    height:1.4em;
    border-radius: 5px;
    font-size: 2em;
    color: #ff3366;
    cursor: pointer;
}
#footy .add-like-place:hover
{
    color:#ff0099;
}
#footy .add-to-trip:hover
{
    color:#00cccc;
}
.add-like-place span,
.add-to-trip span
{
    position: absolute;
    top:5px;
    left:7px;
}
#footy .add-to-trip
{
    position: absolute;
    top:1em;
    left:9em;
    border: 1px solid gray;
    box-shadow: 0.2em 0.2em 2px rgba(122,122,122,0.5);
    width:8em;
    height:1.4em ;
    border-radius: 5px;
    font-size: 2em;
    color: #00cc99;
    cursor: pointer;
}
.contacts
{
    position:absolute;
    top:6em;
    right:2em;
    width:18em;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0.2em 0.2em 2px rgba(122,122,122,0.5);
    height: auto;
}
.options
{
    position:absolute;
    top: 6em;
    /*border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0.2em 0.2em 2px rgba(122,122,122,0.5);*/
    left:1.6em;
    width:33em;
}
.close-btn{
    z-index: 112;
    width: 10px;
    height: 10px;
    background: #dfdfdf;
    padding: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    bottom: 94%;
    right: 1em;
}
.x-btn{
    position: absolute;
    bottom: 3px;
    right: 5px;
}

/*---------------------------end-balloonbox-------------------------------*/

/*---------------------------balloon_balloon-elements-------------------------------*/

.ymaps-2-1-22-balloon__close
{
    margin: 0 0 0 0 !important;
    right:41px !important;
    top:3px !important;
}
.ymaps-2-1-22-balloon__content
{
    width: 290px !important;
    height:80px !important;
    margin:0 0 0 0 !important;
    padding:0 0 0 0 !important;
    background: rgba(0,0,0,0.5) !important;
}
.ymaps-2-1-22-balloon__content .balloon-info
{
    position: absolute;
    border-radius: 5px;
    top:5px;
    left:5px;
    right:41px;
    bottom:5px;
    background: #fff;
}
.ymaps-2-1-22-balloon__tail:after
{
    background: rgba(0,0,0,0.5) !important;
}
.balloon-img > img
{
    top:5px;
    left:5px;
    width: 70px;
    height: 70px;
    border-radius: 5px 0 0 5px;

}
.like-balloon
{
    position: absolute;
    right: -36px;
    top:0;
    border-radius: 5px;
    width: 34px;
    height: 34px;
    background: #fff;
    cursor: pointer;
}
.trip-balloon
{
    position: absolute;
    cursor: pointer;
    right: -36px;
    bottom:0;
    border-radius: 5px;
    width: 34px;
    height: 34px;
    background: #fff;
}
.trip-balloon .icon-cab
{
    position: absolute;
    font-size: 1.8em;
    top: 6px;
    left:4px;
    color: #00cc99;
}
.like-balloon .icon-heart
{
    position: absolute;
    font-size: 1.8em;
    top: 6px;
    left:5px;
    color: #ff3366;
}
.like-balloon .icon-heart:hover
{
    color:#ff0099;
}
.trip-balloon .icon-cab:hover
{
    color:#00cccc;
}
.balloon-info h4
{
    cursor: pointer;
    margin: 0;
    position: absolute;
    top:20px;
    left:75px;
}
.balloon-info .balloon-rate
{
    position: absolute;
    top:0;
    left: 15px;
    background: #00ff00;
    width:20px;
    height: 20px;
}
/*---------------------------end-balloon_balloon-elements-------------------------------*/

.radius
{
    position: fixed;
    z-index: 2;
    top: 7.6em;
    left: 5.6em;
    width: auto;
    height: auto;
    font-size: 1.0em;
    border-radius: 0.4em;
    box-shadow: 0 0 0.05em ;
    background: #f5f5f5;
    list-style-type: none;
    margin:0;
    padding: 0;
}


@font-face {
  font-family: 'awesome';
  src: url('../fonts/awesome.eot?15291562');
  src: url('../fonts/awesome.eot?15291562#iefix') format('embedded-opentype'),
       url('../fonts/awesome.woff?15291562') format('woff'),
       url('../fonts/awesome.ttf?15291562') format('truetype'),
       url('../fonts/awesome.svg?15291562#awesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "awesome";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.icon-down-micro:before { content: '\e804'; }

.icon-up-micro:before { content: '\e805'; }

.icon-cab:before { content: '\e808'; }

.icon-heart:before { content: '\e809'; }




@font-face{
    font-family:'roadtrippers-icons';
    src:url(../fonts/roadtrippers-icons-ee0681ed1cb33a78b388e6d15da10edb.woff) format("woff");
    font-weight:normal;
    font-style:normal
}

[data-icon]:before,.icon-add-photo:before,.icon-angle-double-down:before,.icon-angle-double-up:before,.icon-att-50-amp:before,.icon-att-big-rigs:before,.icon-att-camp-sites:before,.icon-att-chain:before,.icon-att-check-in:before,.icon-att-check-out:before,.icon-att-credit-card:before,.icon-att-discounts:before,.icon-att-dump-sites:before,.icon-att-full-hookup:before,.icon-att-hours:before,.icon-att-independent:before,.icon-att-laundry:before,.icon-att-outdoor-seating:before,.icon-att-parking:before,.icon-att-paved-site:before,.icon-att-pets:before,.icon-att-price-range:before,.icon-att-pull_through:before,.icon-att-quiet-hours:before,.icon-att-restrooms:before,.icon-att-room-service:before,.icon-att-rooms:before,.icon-att-sewer-hookup:before,.icon-att-showers:before,.icon-att-swimming-pool:before,.icon-att-tent-sites:before,.icon-att-wheelchair:before,.icon-att-wifi:before,.icon-background-circle-filled:before,.icon-caret-down:before,.icon-caret-left:before,.icon-caret-right:before,.icon-caret-up:before,.icon-cat-accommodation:before,.icon-cat-activities:before,.icon-cat-attractions:before,.icon-cat-bucketlist:before,.icon-cat-camping-rv:before,.icon-cat-drives:before,.icon-cat-entertainment:before,.icon-cat-events:before,.icon-cat-food-drink:before,.icon-cat-more:before,.icon-cat-motoring:before,.icon-cat-nature:before,.icon-cat-places:before,.icon-cat-points-of-interest:before,.icon-cat-regions:before,.icon-cat-services:before,.icon-cat-shopping:before,.icon-cat-sports:before,.icon-circle-star:before,.icon-location:before,.icon-master-blog:before,.icon-master-collection:before,.icon-master-guide:before,.icon-master-logo:before,.icon-master-places:before,.icon-master-stroked-logo:before,.icon-master-trip:before,.icon-nav-add-photo:before,.icon-nav-add-to-trip:before,.icon-nav-address:before,.icon-nav-admin:before,.icon-nav-analytics:before,.icon-nav-angle-double-down:before,.icon-nav-arrow:before,.icon-nav-arrow-down:before,.icon-nav-arrow-left:before,.icon-nav-arrow-up:before,.icon-nav-assets:before,.icon-nav-asterisk:before,.icon-nav-back:before,.icon-nav-been-there:before,.icon-nav-blog-icon:before,.icon-nav-bomb:before,.icon-nav-bulb:before,.icon-nav-business:before,.icon-nav-byways:before,.icon-nav-camera:before,.icon-nav-categories:before,.icon-nav-check:before,.done .waypoint-state-icon:before,.icon-nav-circle:before,.icon-nav-circle-arrow-left:before,.icon-nav-circle-arrow-right:before,.icon-nav-content:before,.icon-nav-cursor:before,.icon-nav-data:before,.icon-nav-day:before,.icon-nav-description:before,.icon-nav-design:before,.icon-nav-distance:before,.icon-nav-down:before,.icon-nav-download:before,.icon-nav-drag:before,.icon-nav-edit:before,.icon-nav-edit-place:before,.icon-nav-email:before,.icon-nav-embed-map:before,.icon-nav-exclamation:before,.icon-nav-exit:before,.error .waypoint-state-icon:before,.icon-nav-ext-link:before,.icon-nav-flag:before,.icon-nav-fuel:before,.icon-nav-gas:before,.icon-nav-geo-waypoint:before,.icon-nav-google:before,.icon-nav-guide:before,.icon-nav-highway:before,.icon-nav-home:before,.icon-nav-html:before,.icon-nav-info:before,.icon-nav-laquo:before,.icon-nav-link:before,.icon-nav-list:before,.icon-nav-logout-boring:before,.icon-nav-logout-skull:before,.icon-nav-map:before,.icon-nav-message:before,.icon-nav-minus:before,.icon-nav-minus-circle:before,.icon-nav-mobile:before,.icon-nav-navicon:before,.icon-nav-next:before,.icon-nav-night:before,.icon-nav-password:before,.icon-nav-pc:before,.icon-nav-pen:before,.icon-nav-people:before,.icon-nav-phone:before,.icon-nav-photo:before,.icon-nav-pin:before,.icon-nav-plus:before,.icon-nav-plus-circle:before,.icon-nav-preview:before,.icon-nav-print:before,.icon-nav-product:before,.icon-nav-profile:before,.icon-nav-question:before,.icon-nav-raquo:before,.icon-nav-refresh:before,.icon-nav-remove-from-trip:before,.icon-nav-reply:before,.icon-nav-review:before,.icon-nav-roadtrippers-decal:before,.icon-nav-route:before,.icon-nav-route-add:before,.icon-nav-route-subtract:before,.icon-nav-save:before,.icon-nav-save-place:before,.icon-nav-search:before,.icon-nav-settings:before,.icon-nav-share:before,.icon-nav-shooting-star:before,.icon-nav-star:before,.icon-nav-tag:before,.icon-nav-tagline:before,.icon-nav-thumbdown:before,.icon-nav-thumbup:before,.icon-nav-time:before,.icon-nav-trash:before,.icon-nav-trip:before,.icon-nav-triple-pin:before,.icon-nav-up:before,.icon-nav-upload:before,.icon-nav-url:before,.icon-nav-users:before,.icon-nav-via-waypoint:before,.icon-nav-web:before,.icon-nav-wiki:before,.icon-nav-write-review:before,.icon-photo-placeholder-01:before,.icon-photo-placeholder-02:before,.icon-photo-placeholder-03:before,.icon-photo-placeholder-04:before,.icon-social-facebook:before,.icon-social-flickr:before,.icon-social-gplus:before,.icon-social-instagram:before,.icon-social-linkedin:before,.icon-social-pinterest:before,.icon-social-rss:before,.icon-social-stumble:before,.icon-social-tumblr:before,.icon-social-twitter:before,.icon-social-vimeo:before,.icon-social-youtube:before,.icon-trip-calendar:before,.icon-trip-delete:before,.icon-trip-dots:before,.icon-trip-end:before,.icon-trip-start:before,.icon-user-blogger:before,.icon-user-expert:before,.icon-user-foodie:before,.icon-user-photographer:before,.icon-user-road-warrior:before,.icon-user-tour-guide:before{
    font-family:"roadtrippers-icons";
    display: inline-block;
    text-decoration: inherit;
    width: 0.7em;
    padding-top:0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 1.8em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 0.5em;
}
ul div{
    cursor:pointer;
}

.icon-cat-attractions:before{
 content:"\f104"
}

.icon-cat-nature:before{
    content:"\f10c"
}

.icon-cat-food-drink:before{
 content:"\f1e2"
}