<div class="modal-body" style="padding: 3px;">
    <div class="media arrow">
        <rt-img place="currentPlace" current-place="currentPlace" alt="img" height="150px" width="150px">

        </rt-img>

        <div class="rating">
            <div class="value-rating">
                {{ currentPlace.fields.rating }}
            </div>
        </div>
        <span class="place-name"> {{ currentPlace.fields.name }} </span>

        <div class="like-balloon">
            <span class="icon icon-heart" ng-click="currentPlace.addLike()"></span>
        </div>
        <div class="trip-balloon" ng-click="currentPlace.addToTrip()">
            <span class="icon icon-cab"></span>
        </div>
    </div>
</div>
