<header>
    <div class="logotype">
        <img src="/static/app/images/logotype.gif" alt="Путеводитель"/>
    </div>
</header>

<section class="filters">
    <ul>
        <input type="checkbox" ng-click="filters.switchFilter(1)" ng-checked="filters.isChecked(1)" name="filter-1"
               id="filter_place_of_interests">
        <li class="filter-place_of_interests">
            <div class="">
                <label for="filter_place_of_interests">
                    <div class="">
                        <span class="icon icon-cat-attractions"></span>
                    </div>
                </label>
            </div>
        </li>
        <input type="checkbox" ng-click="filters.switchFilter(2)" ng-checked="filters.isChecked(2)" name="filter-2"
               id="filter_food">
        <li class="filter-food">
            <div class="">
                <label for="filter_food">
                    <div class="">
                        <span class="icon icon-cat-food-drink"></span>
                    </div>
                </label>
            </div>
        </li>
        <input type="checkbox" ng-click="filters.switchFilter(3)" ng-checked="filters.isChecked(3)" name="filter-3"
               id="filter_park">
        <li class="filter-park">
            <div class="">
                <label for="filter_park">
                    <div class="">
                        <span class="icon icon-cat-nature"></span>
                    </div>
                </label>
            </div>
        </li>
    </ul>
</section>

<div class="radius">
    <slider floor="1000" ceiling="5000" step="1000" precision="3" ng-model="radius"></slider>
</div>

<rt-right-collapsible></rt-right-collapsible>

<main>
    <ya-map ya-zoom="11" ya-center="[55.76,37.64]" ya-after-init="init($target)" ya-controls=""></ya-map>
</main>


<!-- Popup window -->
<div class="modal" id="detailPlaceInfo" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="rating">
                    <div class="value-rating">
                        {{ currentPlace.fields.rating }}
                    </div>
                </div>
                <a href="{{ currentPlace.fields.vk_link }}" ng-if="currentPlace.isEmptyVK()" target="_blank"><span class="icon-vk"></span></a>
                <a href="{{ currentPlace.fields.website }}" ng-if="currentPlace.isEmptyWebsite()" target="_blank"><span class="icon-globe"></span></a>
                <a href="{{ currentPlace.fields.e_mail }}"  ng-if="currentPlace.isEmptyEmail()" target="_blank"><span class="icon-email"></span></a>

                <h2 class="modal-title" id="gridSystemModalLabel">{{ currentPlace.fields.name }}  </h2>
            </div>


            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div style="height: 300px">
                            <carousel interval="myInterval">
                                <slide active="slide.active">
                                    <img src="{{ currentPlace.fields.image }}" style="margin:auto;">
                                </slide>

                                <slide ng-repeat="url_image in currentPlace.fields.additional_images">
                                    <img src="{{ url_image }}" style="margin:auto;">
                                </slide>
                            </carousel>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <h3>Описание места:</h3>
                            <span class="icon-heart" ng-click="currentPlace.addLike()">
                                <div class="like-score">{{ currentPlace.fields.likes }}</div>
                            </span>

                            <span class="icon-cab" ng-click="currentPlace.addToTrip()"></span>
                            <div class="well">
                                Теги:
                                <div class="place-labels" ng-repeat="tag in currentPlace.fields.tags">
                                    <span>{{ tag }}</span>
                                </div>
                            </div>

                            <p class="description-text">{{ currentPlace.fields.description }}  </p>

                        </div>

                        <div class="col-md-5">
                            </br>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <span class="icon-phone"></span>
                                    Телефон
                                </div>
                                <div class="panel-footer">{{ currentPlace.fields.phone }}  </div>
                            </div>
                            </br>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <span class="icon-address-book"></span>
                                    Адрес
                                </div>
                                <div class="panel-footer">{{ currentPlace.fields.address }}  </div>
                            </div>
                            </br>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <span class="icon-clock"></span>
                                    Рабочие часы
                                </div>
                                <div class="panel-footer">{{ currentPlace.fields.working_hours }}  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<rt-down-collapsible slider-apply="slider.apply" places="rom.places" current-place="currentPlace" slider-filter="slider.idfilter"></rt-down-collapsible>
