<div id="bottom-bar">
    <nav class="list_of_nav_buttons">
        <span class="nav-button-text-bottom">Места</span>

        <div class="up-chk" id="show-on">
            <span class="icon icon-up-micro"></span>
        </div>
        <div class="up-unchk" id="show-off">
            <span class="icon icon-down-micro"></span>
        </div>
    </nav>

    <main class="main-info">
        <div>
            <slick init-onload=true infinite="true" slides-to-show="1" slides-to-scroll="5" data="places"
                   variable-width="true">
                <div ng-repeat="place in places">
                    <div class="rating">
                        <div class="value-rating">
                            {{ place.fields.rating }}
                        </div>
                    </div>
                    <div class="slick-place">
                        <div class="slick-filter slick-filter-{{ place.fields.type }}">
                            <span class="slick-filter-icon"></span>
                        </div>
                    </div>
                    <span class="balloon-image">
                        <rt-img place="place" current-place="currentPlace" width="150px" height="150px"> </rt-img>
                    </span>
                    <span class="place-name">
                        {{ place.fields.name }}
                    </span>
                </div>
            </slick>
        </div>
    </main>
</div>