<section id="right-bar">
    <nav class="list_of_nav_buttons_right">
        <div class="up-chk-right" id="show-on-right">
            <span class="icon icon-up-micro"></span>
        </div>
        <div class="up-unchk-right" id="show-off-right">
            <span class="icon icon-down-micro"></span>
        </div>
    </nav>
    <main class="main-info-right">
        <img src="/static/app/images/0002.jpg" alt="Маршрут">

        <div class="make-trip">
            <div class="form-A">
                <span class="icon-A">A:</span>
                <input class="form-a-inp" type="text" placeholder="Введите пункт А"/>
            </div>
            <div class="form-B">
                <span class="icon-B">B:</span>
                <input class="form-b-inp" type="text" placeholder="Введите пункт В"/>
            </div>
            <input id="find-trip-btn" type="submit" value="Построить маршрут">
        </div>
    </main>
</section>