<section id="right-bar">
    <nav class="list_of_nav_buttons_right">
        <div class="up-chk-right" id="show-on-right">
            <span class="icon icon-up-micro"></span>
        </div>
        <div class="up-unchk-right" id="show-off-right">
            <span class="icon icon-down-micro"></span>
        </div>
    </nav>
    <main class="main-info-right">
        <img class="trip-logo" src="/static/app/images/0007.jpg" alt="Маршрут">

    <div class="make-trip">
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0004.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>
        <div class="trip-form">
            <img class="form-picture" src="/static/app/images/0003.jpg" alt="pic">
            <div class="form-adress">
                Москва
            </div>
        </div>

    </div>
    </main>
</section>